
/* Menu */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-h{
    background-color: rgb(37, 37, 39);
}

#menu-h ul {
    max-width: 500px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline-table;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-table;
    text-decoration: none;
    transition: background .4s;
}

/* Fundo Site */
body{
    background-color: rgb(255, 255, 255);
}

/* Titulo/Banner */
.image { 

    position: relative; 

    width: 100%; /* for IE 6 */
}
h2 { 
position: absolute; 
top: 45%; 
left: 17%; 
width: 100%; 
}

h2 span { 
color: rgb(255, 255, 255); 
font: bold 50px/50px URW Chancery L, cursive;
letter-spacing: -1px;  
background-color: rgba(0, 0, 0, 0.685);

padding: 0px;
}

/* Texto - Módulo Destaque */
.textoDES{

    font-family: "Papyrus";
    font-size: 40px;
    left: 1%;
    width: 150%;
    position: relative;
    color: rgb(0, 132, 255);
    
  }

.materiastitulos3 {
    text-decoration: none;
    padding: 0px;
    width: 150px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px  solid rgba(55, 0, 255, 0);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: 1500ms;
  bottom: unset;
  color:rgb(255, 255, 255);
  
  }
  .materiastitulos3:hover {
    text-decoration: none;
    background-color: hwb(41 0% 0%);
    color: #000000;
   
  }

  #protecaocanalizacao h4{
    position: relative;
    left: -20px;
    color: rgb(29, 29, 29);
    font: Arial;
    text-align: justify;
    text-indent: 25px;
    padding-left: 3%;
    padding-right: 15%;
  }
  #protecaocanalizacao1 h4{
    position: relative;
    left: 50px;
    color: rgb(29, 29, 29);
    font: Arial;
    text-align: justify;
    text-indent: 25px;
    padding-left: 5%;
    padding-right: 18%;
    text-decoration: none;
  }



       /* Informações Rodapé */
       #container {
        display: inline-block;
        position: absolute;
      }
      
      #container figcaption {
        position: absolute;
        top: 85px;
        right: 56%;
        font-size: 15px;
        color: black;
        text-shadow: 0px 0px 5px black;
      }
    
      #container {
        display: inline-block;
        position: absolute;
        left: 0%;
      }
      
      #container figcaption1 {
        position: absolute;
        top: 120px;
        right: 57%;
        font-size: 15px;
        color: black;
        text-shadow: 0px 0px 5px black;
      }
    
      #container {
        display: inline-block;
        position: relative;
      }
      
      #container figcaption2 {
        position: absolute;
        top: 155px;
        right: 55%;
        font-size: 15px;
        color: black;
        text-shadow: 0px 0px 5px black;
      }
    
      #container1 {
        display: inline-block;
        position: absolute;
        right: 33%;
        top: 1300px;
      }
      #container2 {
        display: inline-block;
        position: absolute;
        right: 33%;
        top: 1450px;
      } 

      #imagem1 {
        position: absolute;
       right: 25%;
       top: 120%;
      }
      #imagem2 {
        position: absolute;
       right: 40%;
       top: 130%;
      }
      #imagem3 {
        position: absolute;
       right: 40%;
       top: 120%;
      }
      #imagem31 {
        position: absolute;
       right: 30%;
       top: 120%;
      }
      #imagem4 {
        position: absolute;
       right: 30%;
       top: 130%;
      }
      #imagem5 {
        position: absolute;
       right: 30%;
       top: 130%;
      }
      #imagem6 {
        position: absolute;
       right: 75%;
       top: 120%;
      }
      #imagem61 {
        position: absolute;
       right: 40%;
       top: 115%;
      }
      #imagem62 {
        position: absolute;
       right: 15%;
       top: 125%;
      }
      #imagem7 {
        position: absolute;
       right: 10%;
       top: 120%;
      }
      #imagem71 {
        position: absolute;
       right: 60%;
       top: 120%;
      }
      #imagem8 {
        position: absolute;
       right: 55%;
       top: 120%;
      }
      #imagem81 {
        position: absolute;
       right: 20%;
       top: 125%;
      }
      #imagem9 {
        position: absolute;
       right: 20%;
       top: 145%;
      }
      #imagem10 {
        position: absolute;
       right: 40%;
       top: 130%;
      }
      #imagem11 {
        position: absolute;
       right: 25%;
       top: 113%;
      }
      #imagem12 {
        position: absolute;
       right: 30%;
       top: 115%;
      }
      #imagem13 {
        position: absolute;
       right: 10%;
       top: 130%;
      }
      #imagem131 {
        position: absolute;
       right: 50%;
       top: 125%;
      }
      #imagem14 {
        position: absolute;
       right: 30%;
       top: 120%;
      }
      #imagem15 {
        position: absolute;
       right: 5%;
       top: 120%;
      }
      #imagem151 {
        position: absolute;
       right: 50%;
       top: 120%;
      }
      #imagem16 {
        position: absolute;
       right: 40%;
       top: 130%;
      }
      #imagem17{
        position: absolute;
       right: 35%;
       top: 150%;
      }
      #imagem18 {
        position: absolute;
       right: 25%;
       top: 130%;
      }
      #imagem {
        position: absolute;
       right: 40%;
       top: 130%;
      }
      #imagem {
        position: absolute;
       right: 40%;
       top: 130%;
      }
  
  
  
    