  /* Configurações para Telemóvel, Tablet, Computador e Desktop */


    @media only screen and (max-width: 375px){

      

    }


    @media only screen and (max-width: 1024px){

      

    }


    @media only screen and (max-width: 1440px){

      

    }


    @media only screen and (max-width: 1680px){

      

    }


    @media only screen and (max-width: 1920px){
      
      @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/* Menu */
* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-h{
  background-color: rgb(255, 255, 255);
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #000000;
    padding: 25px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;

}

#menu-h ul li a:hover {
  color: rgb(255, 187, 0);
  padding: 25px;
  display: inline-block;
  text-decoration: none;
  transition: background .4s;
}

/* Fundo Site */
body{
    background-color: rgb(255, 255, 255);
}

/* Titulo/Banner */
.image { 

    position: relative; 

    width: 100%; 
}
h2 { 
position: absolute; 
top: 45%; 
width: 100%;
text-align: center;
}

h2 span { 
color: rgb(255, 255, 255); 
font: bold 50px/50px URW Chancery L, cursive;
letter-spacing: -1px;  
background-color: rgba(0, 0, 0, 0.685);


}


/* Texto - Módulo Destaque */
.textoDES{

  width: 50%;
  text-align: center;
  position: relative;
  color: rgb(0, 0, 0);
  
}

/* Módulos Destaques */
.imagem3 {
    position: relative;

    width: 100%;
}
.imagem3 .seg {
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
}
.imagem3:hover .seg {
    visibility: visible;
    opacity: 1;
    width: 100%;
}

.imagem4 {
    position: relative;

    width: 100%;
}
.imagem4 .seg1 {
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
}
.imagem4:hover .seg1 {
    visibility: visible;
    opacity: 1;
    width: 100%;
}

.imagem5 {
    position: relative;
    width: 100%;
}
.imagem5 .seg2 {
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
}
.imagem5:hover .seg2 {
    visibility: visible;
    opacity: 1;
    width: 100%;
}

/* Tabelas */
table, td {
    border:0px solid black;
    
  }


  /*Sub-Rodapé1*/

  .imagem6{

   width: 100%;

  }


  .imagem7{

  position: absolute;
  top: 220%;
  right: 0%;
  left: 0%;
  width: 100%;

  }

  /*Informação Sub-Rodapé*/

  .imagem8 {
    position: absolute;
    top: 240%;
    left: 10%;

}
.imagem8 .seg6 {
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:0;
    left:0;

}
.imagem8:hover .seg6 {
    visibility: visible;
    opacity: 1;

}

.imagem9 {
  position: absolute;
  top: 240%;
  left: 71%;

}
.imagem9 .seg7 {
  visibility: hidden;
  opacity: 0;
  position:absolute;
  top:0;
  left:0;

}
.imagem9:hover .seg7 {
  visibility: visible;
  opacity: 1;

}

/* Imagem Youtube */
.imagem10{
  position: absolute;
  top: 289%;
  left: 0%;

}

/* Texto - Videos que você pode gostar */
.textoVID{

  font-family: "Papyrus";
  font-size: 40px;
  top: 295%;
  left: 10%;
  width: 50%;
  
  position: absolute;
  color: rgb(0, 0, 0);
}

/* Vídeos */
.imagem11 {
  position: absolute;
  top: 300%;
  left: 0%;
}
.imagem11 .seg8 {
  visibility: hidden;
  opacity: 0;
  position:absolute;
  top:0;
  left:0;
}
.imagem11:hover .seg8 {
  visibility: visible;
  opacity: 1;
}

.imagem12 {
  position: absolute;
  top: 325%;
  left: 0%;
}
.imagem12 .seg9 {
  visibility: hidden;
  opacity: 0;
  position:absolute;
  top:7%;
  left:3%;
}
.imagem12:hover .seg9 {
  visibility: visible;
  opacity: 1;
}



  /* Informações Rodapé */

   .texto2{

    font-family: "Papyrus";
    font-size: 40px;
    width: 100%;
    top: 250%;
    right: 25%;
    text-align: center;
    color: rgb(0, 0, 0);
   }


    .texto12 {
        position: absolute;
        top: 365%;
        left: 10%;
        font-size: 20px;
      }
      
      .texto13 {
        display: inline-block;
        position: absolute;
        right: 33%;
        top: 365%;
      }

      

    }


    @media only screen and (max-width: 2560px){

      

    }
    